<div>
  <div>
    <h1>
      List of all games
    </h1>
  </div>
</div>
<hr>
<h2> Join a game </h2>
<p> Click "join game" on list below or <a href="/seats"> click here </a> if you know your game id.

<hr>

<div>
  <div>
    <h2>
      Add a new game
    </h2>

    <form action="/insert_game" method="post">
      <div>
        <label for="game_bank_box">
          Game bank
        </label>

        <input type="text" id="game_bank_box" name="query_game_bank">
      </div>

      <div>
        <label for="big_blind_box">
          Big blind
        </label>

        <input type="text" id="big_blind_box" name="query_big_blind">
      </div>

      <div>
        <label for="small_blind_box">
          Small blind
        </label>

        <input type="text" id="small_blind_box" name="query_small_blind">
      </div>

      <div>
        <label for="game_owner_box" value=<%session.fetch(:user_id)%>>
          
        </label>

        <input type="hidden" value=<%session.fetch(:user_id)%> id="game_owner_box" name="query_game_owner">
      </div>

      <div>
        <label for="game_name_box">
          Game name
        </label>

        <input type="text" id="game_name_box" name="query_game_name">
      </div>

      <button>
        Create game
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        

        <th>
          Big blind
        </th>

        <th>
          Small blind
        </th>

        <th>
          Game owner
        </th>

        <th>
          Game name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        Show details
        </th>
      </tr>

      <% @list_of_games.each do |t| %>
      <tr>
        <td>
        <%=t.id%>
        </td>
        
        
        <td>
        <%=t.big_blind%>
        </td>
        <td>
        <%=t.small_blind%>
        </td>

        <td>
        <%=t.game_owner%>
        </td>

        <td>
        <%=t.game_name%>
        </td>
        <td>
        <%= time_ago_in_words(t.created_at)%> ago
        </td>

        <td>
        <%=time_ago_in_words(t.updated_at)%> ago
        </td>
        <td>
          <a href="/games/<%= t.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
